body {
	font-family: 'Roboto', sans-serif;
	transition: all 0.5s;
}
p {
	margin-bottom: 0px;
	font-size: $font-normal;
	color: $color-07;
	line-height: 24px;
}
a {
	text-decoration: none!important;
}

.copyright-text {
	text-transform: $txt_style;
}

.main-button {
    a {
	background-color:$color-01;
	border-radius: 5px;
	padding: 10px $pdn-normal;
	display: $display-def;
	color: $color-03;
	font-size: $font-normal;
	text-transform: $txt_style;
	font-weight: 300;
	letter-spacing: 0.4px;
	text-decoration: none;
	transition: all 0.5s; 
    }
    &:hover {
        opacity: 0.7;
    }
}

.section-heading {
	margin-top: 80px;
	margin-bottom: 40px;

    .line-dec {
        width: $scn-sz;
        height: 5px;
        background-color: $color-01;
    }
    h1 {
        font-size: 22px;
        font-weight: 700;
        color: $color-02;
        margin-top: $margin-default;
    }
}

::placeholder {
	color: $color-03
}

#email {
	position: relative;
}

.invalid {
	border-color: #F00;
}

.text-muted {
	display: none;
}