$bold: 700;

$color-01: rgba(28, 104, 28, 0.849);
$color-02:#1e1e1e;
$color-03: #fff;
$color-04: #eee;
$color-05: #aaa;
$color-06:#3a8bcd;
$color-07:#4a4a4a;

$display-def: inline-block;

$font-normal: 15px;

$margin-default: 15px;
$scn-sz: 30px;
$pdn-normal: 15px;

$txt_style: uppercase;